@font-face {
  font-family: "pixelFont";
  src: url("../../assets/fonts/PixeLCD.ttf");
}

:root {
  --background-label: #008000;
}

body {
  display: flex;
  justify-content: center;
  font-family: "pixelFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  margin: 0;
}

h1 {
  text-align: center;

  margin-bottom: 50px;

  color: #00b300;
}

button {
  font-family: "pixelFont";
  font-size: 20px;
  margin-top: 25px;
  outline: none;
  cursor: pointer;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #000;
  border: 2px solid #00b300;
  color: #00b300;
  letter-spacing: 1px;
  text-shadow: 0;
  transition: 0.3s ease;
}

button:hover {
  color: #000;
  background: #00b300;
  box-shadow: rgba(0, 255, 0, 0.8);
}

footer {
  margin-top: 50px;
  color: white;
  padding: 5px;
}

footer span {
  font-family: "serif";
  font-size: 22px;
}

footer a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
}

footer a:hover {
  color: #00b300;
  font-size: 18px;

  text-shadow: #0c7b49;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

#close-btn {
  font-size: 25px;
  font-family: "pixelFont";
  height: 50px;

  border: none;
  border-radius: 50%;

  width: 50px;

  margin-top: 15px;
  margin-right: 15px;

  position: absolute;
  justify-self: flex-end;
  top: 0px;
  right: 6px;
}

#content-box {
  max-width: 1120px;
  width: 100%;
  height: 100vh;

  display: flex;
}

#content {
  width: 100%;

  padding: 20px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#converter-box {
  max-width: 400px;
  max-height: 300px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  align-self: center;

  border-radius: 30px;
  border: 6px solid #00b300;

  background-color: white;
}

#converter-box div {
  padding: 20px;

  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}

#input-box {
  display: inline-block;
  position: relative;
}

.gate {
  display: inline-block;
  width: 250px;
  padding: 10px 0 10px 35px;
  color: #0c7b49;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 65px;
  transition: all 0.3s ease-in-out;
  margin-left: 40px;
  font-size: 18px;
  font-weight: bold;
  font-family: serif;
}

.gate::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
  font-size: 18px;
}

.gate + label {
  display: inline-block;
  position: absolute;
  top: 2.3px;
  left: 30px;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #0c7b49;
  transition: all 0.4s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: left bottom;
  z-index: 99;
  border-radius: 8px;
}

.gate + label::before,
.gate + label::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background: var(--background-label); /*THE MAIN BACKGROUND */
  transform-origin: left bottom;
  transition: all 0.4s ease-in-out;
  pointer-events: none;
  z-index: -1;
}

.gate + label::before {
  background: rgba(3, 36, 41, 0.2);
  z-index: -2;
  right: 20%;
}

#inputBox:nth-child(2) .gate {
  text-indent: 85px;
}

#inputBox:nth-child(2) .gate:focus,
#inputBox:nth-child(2) .gate:active {
  text-indent: 0;
}

.gate:focus,
.gate:active {
  color: #0c7b49;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.gate:focus::-webkit-input-placeholder,
.gate:active::-webkit-input-placeholder {
  color: #aaa;
}

.gate:focus + label,
.gate:active + label {
  transform: rotate(-66deg);
  border-radius: 8px;
}

.gate:focus + label::before,
.gate:active + label::before {
  transform: rotate(10deg);
}

#response-box {
  margin: 0px 40px;
}

#response-box label {
  color: #008000;
}

#response-box output {
  display: flex;
  justify-content: start;
  width: 180px;
  height: 15px;
  padding: 10px 0 10px 25px;
  font-weight: 400;
  color: #008000;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  margin-top: 5px;
  letter-spacing: 2px;

  font-size: 16px;
  font-weight: bold;

  margin-left: 40px;
}
